.container(data-aos="fade-up")
	.contacts
		ul
			li
				a(href="#") <span> 1612 Carroll St,</span> </br>Brooklyn NY, 11213
			li
				a(href="#") <span>718-465-1653</span> </br>24/7 Customer Support

	.devider
	.social
		ul
			li
				a(href="#").fb
			li
				a(href="#").tw
	.copyright 2018 All rights Reserved.

script(src="//unpkg.com/aos@next/dist/aos.js")
script(src="/js/main.min.js")