#top {
	display: flex;
	flex-flow: row wrap;
	max-width: $container;
	margin: 0 auto;
	padding: 1rem;
	justify-content: space-between;
	& .logo img {
		display: block;
		max-width: 16rem;
	}
}

#top .nav-show-btn {
	color: ac(third);
	font-size: 1.5rem;
	font-weight: bold;
	align-self: center;
	& i {
		display: inline-block;
		@include retina-sprite($menu-w-group);
		vertical-align: middle;
	}
}

#top nav {
	position: absolute;
	display: none;
	flex-flow: column nowrap;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: ac(primary);
	z-index: 999;
	& ul {
		list-style: none;
		padding: 0;
		margin: 0;
		& li {
			text-align: center;
			 & a {
				 display: block;
				 padding: 3rem;
				 color: ac(third);
				 font-size: 3rem;
				 font-weight: bold;
				 &:hover, &:active, &:focus {
					 color: ac(white);
				 }
			 }
		}
	}
}

.active-nav {
	display: flex;
	& li{
		animation-name: fade-left;
		animation-duration: .3s;
		animation-timing-function: ease-out;
		animation-direction: normal;
		animation-fill-mode: both;
	}
}

.active-nav li:nth-child(1) {
	animation-delay: .15s;
}
.active-nav li:nth-child(2) {
	animation-delay: .2s;
}
.active-nav li:nth-child(3) {
	animation-delay: .25s;
}
.active-nav li:nth-child(4) {
	animation-delay: .3s;
}
.active-nav li:nth-child(5) {
	animation-delay: .35s;
}
.active-nav li:nth-child(6) {
	animation-delay: .4s;
}
.active-nav li:nth-child(7) {
	animation-delay: .45s;
}
.active-nav li:nth-child(8) {
	animation-delay: .5s;
}
.active-nav li:nth-child(9) {
	animation-delay: .5s;
}

@keyframes fade-left {
	0% {
		margin-left: -1rem;
		opacity: 0;
	}
	100% {
		margin-left: 0;
		opacity: 1;
	}
}

@media (min-width: $b-large) {
	#top {
		padding-left: 4rem;
		padding-right: 4rem;
		flex-flow: row nowrap;
		justify-content: space-between;
	}

	#top nav {
		position: relative;
		display: inline-block;
		flex-flow: row nowrap;
		justify-content: space-between;
		width: auto;
		height: 100%;
		background-color: transparent;
		& ul {
			list-style: none;
			padding: 0;
			margin: 0;
			display: inline-block;
			& li {
				text-align: center;
				display: inline-block;
				& a {
					display: block;
					padding: 1.5rem 3rem;
					font-size: 1.75rem;
					font-weight: bold;
				}
			}
		}
	}
	#top .nav-show-btn {
		display: none;
	}
}