// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-back-name: 'arrow_back';
$arrow-back-x: 220px;
$arrow-back-y: 192px;
$arrow-back-offset-x: -220px;
$arrow-back-offset-y: -192px;
$arrow-back-width: 24px;
$arrow-back-height: 24px;
$arrow-back-total-width: 343px;
$arrow-back-total-height: 260px;
$arrow-back-image: '../img/sprites/sprite.png';
$arrow-back: (220px, 192px, -220px, -192px, 24px, 24px, 343px, 260px, '../img/sprites/sprite.png', 'arrow_back', );
$arrow-downward-name: 'arrow_downward';
$arrow-downward-x: 232px;
$arrow-downward-y: 88px;
$arrow-downward-offset-x: -232px;
$arrow-downward-offset-y: -88px;
$arrow-downward-width: 24px;
$arrow-downward-height: 24px;
$arrow-downward-total-width: 343px;
$arrow-downward-total-height: 260px;
$arrow-downward-image: '../img/sprites/sprite.png';
$arrow-downward: (232px, 88px, -232px, -88px, 24px, 24px, 343px, 260px, '../img/sprites/sprite.png', 'arrow_downward', );
$arrow-drop-down-name: 'arrow_drop_down';
$arrow-drop-down-x: 44px;
$arrow-drop-down-y: 236px;
$arrow-drop-down-offset-x: -44px;
$arrow-drop-down-offset-y: -236px;
$arrow-drop-down-width: 24px;
$arrow-drop-down-height: 24px;
$arrow-drop-down-total-width: 343px;
$arrow-drop-down-total-height: 260px;
$arrow-drop-down-image: '../img/sprites/sprite.png';
$arrow-drop-down: (44px, 236px, -44px, -236px, 24px, 24px, 343px, 260px, '../img/sprites/sprite.png', 'arrow_drop_down', );
$arrow-drop-down-circle-name: 'arrow_drop_down_circle';
$arrow-drop-down-circle-x: 0px;
$arrow-drop-down-circle-y: 60px;
$arrow-drop-down-circle-offset-x: 0px;
$arrow-drop-down-circle-offset-y: -60px;
$arrow-drop-down-circle-width: 24px;
$arrow-drop-down-circle-height: 24px;
$arrow-drop-down-circle-total-width: 343px;
$arrow-drop-down-circle-total-height: 260px;
$arrow-drop-down-circle-image: '../img/sprites/sprite.png';
$arrow-drop-down-circle: (0px, 60px, 0px, -60px, 24px, 24px, 343px, 260px, '../img/sprites/sprite.png', 'arrow_drop_down_circle', );
$arrow-drop-up-name: 'arrow_drop_up';
$arrow-drop-up-x: 44px;
$arrow-drop-up-y: 60px;
$arrow-drop-up-offset-x: -44px;
$arrow-drop-up-offset-y: -60px;
$arrow-drop-up-width: 24px;
$arrow-drop-up-height: 24px;
$arrow-drop-up-total-width: 343px;
$arrow-drop-up-total-height: 260px;
$arrow-drop-up-image: '../img/sprites/sprite.png';
$arrow-drop-up: (44px, 60px, -44px, -60px, 24px, 24px, 343px, 260px, '../img/sprites/sprite.png', 'arrow_drop_up', );
$arrow-forward-name: 'arrow_forward';
$arrow-forward-x: 88px;
$arrow-forward-y: 60px;
$arrow-forward-offset-x: -88px;
$arrow-forward-offset-y: -60px;
$arrow-forward-width: 24px;
$arrow-forward-height: 24px;
$arrow-forward-total-width: 343px;
$arrow-forward-total-height: 260px;
$arrow-forward-image: '../img/sprites/sprite.png';
$arrow-forward: (88px, 60px, -88px, -60px, 24px, 24px, 343px, 260px, '../img/sprites/sprite.png', 'arrow_forward', );
$arrow-upward-name: 'arrow_upward';
$arrow-upward-x: 144px;
$arrow-upward-y: 0px;
$arrow-upward-offset-x: -144px;
$arrow-upward-offset-y: 0px;
$arrow-upward-width: 24px;
$arrow-upward-height: 24px;
$arrow-upward-total-width: 343px;
$arrow-upward-total-height: 260px;
$arrow-upward-image: '../img/sprites/sprite.png';
$arrow-upward: (144px, 0px, -144px, 0px, 24px, 24px, 343px, 260px, '../img/sprites/sprite.png', 'arrow_upward', );
$cancel-name: 'cancel';
$cancel-x: 144px;
$cancel-y: 44px;
$cancel-offset-x: -144px;
$cancel-offset-y: -44px;
$cancel-width: 24px;
$cancel-height: 24px;
$cancel-total-width: 343px;
$cancel-total-height: 260px;
$cancel-image: '../img/sprites/sprite.png';
$cancel: (144px, 44px, -144px, -44px, 24px, 24px, 343px, 260px, '../img/sprites/sprite.png', 'cancel', );
$check-name: 'check';
$check-x: 320px;
$check-y: 0px;
$check-offset-x: -320px;
$check-offset-y: 0px;
$check-width: 23px;
$check-height: 24px;
$check-total-width: 343px;
$check-total-height: 260px;
$check-image: '../img/sprites/sprite.png';
$check: (320px, 0px, -320px, 0px, 23px, 24px, 343px, 260px, '../img/sprites/sprite.png', 'check', );
$chevron-left-name: 'chevron_left';
$chevron-left-x: 44px;
$chevron-left-y: 104px;
$chevron-left-offset-x: -44px;
$chevron-left-offset-y: -104px;
$chevron-left-width: 24px;
$chevron-left-height: 24px;
$chevron-left-total-width: 343px;
$chevron-left-total-height: 260px;
$chevron-left-image: '../img/sprites/sprite.png';
$chevron-left: (44px, 104px, -44px, -104px, 24px, 24px, 343px, 260px, '../img/sprites/sprite.png', 'chevron_left', );
$chevron-right-name: 'chevron_right';
$chevron-right-x: 88px;
$chevron-right-y: 104px;
$chevron-right-offset-x: -88px;
$chevron-right-offset-y: -104px;
$chevron-right-width: 24px;
$chevron-right-height: 24px;
$chevron-right-total-width: 343px;
$chevron-right-total-height: 260px;
$chevron-right-image: '../img/sprites/sprite.png';
$chevron-right: (88px, 104px, -88px, -104px, 24px, 24px, 343px, 260px, '../img/sprites/sprite.png', 'chevron_right', );
$close-w-name: 'close-w';
$close-w-x: 132px;
$close-w-y: 104px;
$close-w-offset-x: -132px;
$close-w-offset-y: -104px;
$close-w-width: 24px;
$close-w-height: 24px;
$close-w-total-width: 343px;
$close-w-total-height: 260px;
$close-w-image: '../img/sprites/sprite.png';
$close-w: (132px, 104px, -132px, -104px, 24px, 24px, 343px, 260px, '../img/sprites/sprite.png', 'close-w', );
$close-name: 'close';
$close-x: 188px;
$close-y: 0px;
$close-offset-x: -188px;
$close-offset-y: 0px;
$close-width: 24px;
$close-height: 24px;
$close-total-width: 343px;
$close-total-height: 260px;
$close-image: '../img/sprites/sprite.png';
$close: (188px, 0px, -188px, 0px, 24px, 24px, 343px, 260px, '../img/sprites/sprite.png', 'close', );
$dashboard-name: 'dashboard';
$dashboard-x: 188px;
$dashboard-y: 44px;
$dashboard-offset-x: -188px;
$dashboard-offset-y: -44px;
$dashboard-width: 24px;
$dashboard-height: 24px;
$dashboard-total-width: 343px;
$dashboard-total-height: 260px;
$dashboard-image: '../img/sprites/sprite.png';
$dashboard: (188px, 44px, -188px, -44px, 24px, 24px, 343px, 260px, '../img/sprites/sprite.png', 'dashboard', );
$domain-name: 'domain';
$domain-x: 188px;
$domain-y: 88px;
$domain-offset-x: -188px;
$domain-offset-y: -88px;
$domain-width: 24px;
$domain-height: 24px;
$domain-total-width: 343px;
$domain-total-height: 260px;
$domain-image: '../img/sprites/sprite.png';
$domain: (188px, 88px, -188px, -88px, 24px, 24px, 343px, 260px, '../img/sprites/sprite.png', 'domain', );
$error-name: 'error';
$error-x: 0px;
$error-y: 148px;
$error-offset-x: 0px;
$error-offset-y: -148px;
$error-width: 24px;
$error-height: 24px;
$error-total-width: 343px;
$error-total-height: 260px;
$error-image: '../img/sprites/sprite.png';
$error: (0px, 148px, 0px, -148px, 24px, 24px, 343px, 260px, '../img/sprites/sprite.png', 'error', );
$error-outline-name: 'error_outline';
$error-outline-x: 44px;
$error-outline-y: 148px;
$error-outline-offset-x: -44px;
$error-outline-offset-y: -148px;
$error-outline-width: 24px;
$error-outline-height: 24px;
$error-outline-total-width: 343px;
$error-outline-total-height: 260px;
$error-outline-image: '../img/sprites/sprite.png';
$error-outline: (44px, 148px, -44px, -148px, 24px, 24px, 343px, 260px, '../img/sprites/sprite.png', 'error_outline', );
$expand-less-name: 'expand_less';
$expand-less-x: 88px;
$expand-less-y: 148px;
$expand-less-offset-x: -88px;
$expand-less-offset-y: -148px;
$expand-less-width: 24px;
$expand-less-height: 24px;
$expand-less-total-width: 343px;
$expand-less-total-height: 260px;
$expand-less-image: '../img/sprites/sprite.png';
$expand-less: (88px, 148px, -88px, -148px, 24px, 24px, 343px, 260px, '../img/sprites/sprite.png', 'expand_less', );
$expand-more-name: 'expand_more';
$expand-more-x: 132px;
$expand-more-y: 148px;
$expand-more-offset-x: -132px;
$expand-more-offset-y: -148px;
$expand-more-width: 24px;
$expand-more-height: 24px;
$expand-more-total-width: 343px;
$expand-more-total-height: 260px;
$expand-more-image: '../img/sprites/sprite.png';
$expand-more: (132px, 148px, -132px, -148px, 24px, 24px, 343px, 260px, '../img/sprites/sprite.png', 'expand_more', );
$facebook-f-name: 'facebook-f';
$facebook-f-x: 320px;
$facebook-f-y: 82px;
$facebook-f-offset-x: -320px;
$facebook-f-offset-y: -82px;
$facebook-f-width: 12px;
$facebook-f-height: 20px;
$facebook-f-total-width: 343px;
$facebook-f-total-height: 260px;
$facebook-f-image: '../img/sprites/sprite.png';
$facebook-f: (320px, 82px, -320px, -82px, 12px, 20px, 343px, 260px, '../img/sprites/sprite.png', 'facebook-f', );
$facebook-w-name: 'facebook-w';
$facebook-w-x: 232px;
$facebook-w-y: 0px;
$facebook-w-offset-x: -232px;
$facebook-w-offset-y: 0px;
$facebook-w-width: 24px;
$facebook-w-height: 24px;
$facebook-w-total-width: 343px;
$facebook-w-total-height: 260px;
$facebook-w-image: '../img/sprites/sprite.png';
$facebook-w: (232px, 0px, -232px, 0px, 24px, 24px, 343px, 260px, '../img/sprites/sprite.png', 'facebook-w', );
$facebook-name: 'facebook';
$facebook-x: 232px;
$facebook-y: 44px;
$facebook-offset-x: -232px;
$facebook-offset-y: -44px;
$facebook-width: 24px;
$facebook-height: 24px;
$facebook-total-width: 343px;
$facebook-total-height: 260px;
$facebook-image: '../img/sprites/sprite.png';
$facebook: (232px, 44px, -232px, -44px, 24px, 24px, 343px, 260px, '../img/sprites/sprite.png', 'facebook', );
$fullscreen-name: 'fullscreen';
$fullscreen-x: 100px;
$fullscreen-y: 0px;
$fullscreen-offset-x: -100px;
$fullscreen-offset-y: 0px;
$fullscreen-width: 24px;
$fullscreen-height: 24px;
$fullscreen-total-width: 343px;
$fullscreen-total-height: 260px;
$fullscreen-image: '../img/sprites/sprite.png';
$fullscreen: (100px, 0px, -100px, 0px, 24px, 24px, 343px, 260px, '../img/sprites/sprite.png', 'fullscreen', );
$fullscreen-exit-name: 'fullscreen_exit';
$fullscreen-exit-x: 232px;
$fullscreen-exit-y: 132px;
$fullscreen-exit-offset-x: -232px;
$fullscreen-exit-offset-y: -132px;
$fullscreen-exit-width: 24px;
$fullscreen-exit-height: 24px;
$fullscreen-exit-total-width: 343px;
$fullscreen-exit-total-height: 260px;
$fullscreen-exit-image: '../img/sprites/sprite.png';
$fullscreen-exit: (232px, 132px, -232px, -132px, 24px, 24px, 343px, 260px, '../img/sprites/sprite.png', 'fullscreen_exit', );
$home-name: 'home';
$home-x: 0px;
$home-y: 192px;
$home-offset-x: 0px;
$home-offset-y: -192px;
$home-width: 24px;
$home-height: 24px;
$home-total-width: 343px;
$home-total-height: 260px;
$home-image: '../img/sprites/sprite.png';
$home: (0px, 192px, 0px, -192px, 24px, 24px, 343px, 260px, '../img/sprites/sprite.png', 'home', );
$instagram-w-name: 'instagram-w';
$instagram-w-x: 44px;
$instagram-w-y: 192px;
$instagram-w-offset-x: -44px;
$instagram-w-offset-y: -192px;
$instagram-w-width: 24px;
$instagram-w-height: 24px;
$instagram-w-total-width: 343px;
$instagram-w-total-height: 260px;
$instagram-w-image: '../img/sprites/sprite.png';
$instagram-w: (44px, 192px, -44px, -192px, 24px, 24px, 343px, 260px, '../img/sprites/sprite.png', 'instagram-w', );
$instagram-name: 'instagram';
$instagram-x: 88px;
$instagram-y: 192px;
$instagram-offset-x: -88px;
$instagram-offset-y: -192px;
$instagram-width: 24px;
$instagram-height: 24px;
$instagram-total-width: 343px;
$instagram-total-height: 260px;
$instagram-image: '../img/sprites/sprite.png';
$instagram: (88px, 192px, -88px, -192px, 24px, 24px, 343px, 260px, '../img/sprites/sprite.png', 'instagram', );
$local-post-office-name: 'local_post_office';
$local-post-office-x: 132px;
$local-post-office-y: 192px;
$local-post-office-offset-x: -132px;
$local-post-office-offset-y: -192px;
$local-post-office-width: 24px;
$local-post-office-height: 24px;
$local-post-office-total-width: 343px;
$local-post-office-total-height: 260px;
$local-post-office-image: '../img/sprites/sprite.png';
$local-post-office: (132px, 192px, -132px, -192px, 24px, 24px, 343px, 260px, '../img/sprites/sprite.png', 'local_post_office', );
$local-shipping-name: 'local_shipping';
$local-shipping-x: 176px;
$local-shipping-y: 192px;
$local-shipping-offset-x: -176px;
$local-shipping-offset-y: -192px;
$local-shipping-width: 24px;
$local-shipping-height: 24px;
$local-shipping-total-width: 343px;
$local-shipping-total-height: 260px;
$local-shipping-image: '../img/sprites/sprite.png';
$local-shipping: (176px, 192px, -176px, -192px, 24px, 24px, 343px, 260px, '../img/sprites/sprite.png', 'local_shipping', );
$map-marker-alt-name: 'map-marker-alt';
$map-marker-alt-x: 0px;
$map-marker-alt-y: 0px;
$map-marker-alt-offset-x: 0px;
$map-marker-alt-offset-y: 0px;
$map-marker-alt-width: 30px;
$map-marker-alt-height: 40px;
$map-marker-alt-total-width: 343px;
$map-marker-alt-total-height: 260px;
$map-marker-alt-image: '../img/sprites/sprite.png';
$map-marker-alt: (0px, 0px, 0px, 0px, 30px, 40px, 343px, 260px, '../img/sprites/sprite.png', 'map-marker-alt', );
$menu-w-name: 'menu-w';
$menu-w-x: 276px;
$menu-w-y: 0px;
$menu-w-offset-x: -276px;
$menu-w-offset-y: 0px;
$menu-w-width: 24px;
$menu-w-height: 24px;
$menu-w-total-width: 343px;
$menu-w-total-height: 260px;
$menu-w-image: '../img/sprites/sprite.png';
$menu-w: (276px, 0px, -276px, 0px, 24px, 24px, 343px, 260px, '../img/sprites/sprite.png', 'menu-w', );
$menu-name: 'menu';
$menu-x: 276px;
$menu-y: 44px;
$menu-offset-x: -276px;
$menu-offset-y: -44px;
$menu-width: 24px;
$menu-height: 24px;
$menu-total-width: 343px;
$menu-total-height: 260px;
$menu-image: '../img/sprites/sprite.png';
$menu: (276px, 44px, -276px, -44px, 24px, 24px, 343px, 260px, '../img/sprites/sprite.png', 'menu', );
$more-horiz-name: 'more_horiz';
$more-horiz-x: 276px;
$more-horiz-y: 88px;
$more-horiz-offset-x: -276px;
$more-horiz-offset-y: -88px;
$more-horiz-width: 24px;
$more-horiz-height: 24px;
$more-horiz-total-width: 343px;
$more-horiz-total-height: 260px;
$more-horiz-image: '../img/sprites/sprite.png';
$more-horiz: (276px, 88px, -276px, -88px, 24px, 24px, 343px, 260px, '../img/sprites/sprite.png', 'more_horiz', );
$more-vert-name: 'more_vert';
$more-vert-x: 276px;
$more-vert-y: 132px;
$more-vert-offset-x: -276px;
$more-vert-offset-y: -132px;
$more-vert-width: 24px;
$more-vert-height: 24px;
$more-vert-total-width: 343px;
$more-vert-total-height: 260px;
$more-vert-image: '../img/sprites/sprite.png';
$more-vert: (276px, 132px, -276px, -132px, 24px, 24px, 343px, 260px, '../img/sprites/sprite.png', 'more_vert', );
$news-copy-name: 'news copy';
$news-copy-x: 276px;
$news-copy-y: 176px;
$news-copy-offset-x: -276px;
$news-copy-offset-y: -176px;
$news-copy-width: 24px;
$news-copy-height: 24px;
$news-copy-total-width: 343px;
$news-copy-total-height: 260px;
$news-copy-image: '../img/sprites/sprite.png';
$news-copy: (276px, 176px, -276px, -176px, 24px, 24px, 343px, 260px, '../img/sprites/sprite.png', 'news copy', );
$news-name: 'news';
$news-x: 0px;
$news-y: 236px;
$news-offset-x: 0px;
$news-offset-y: -236px;
$news-width: 24px;
$news-height: 24px;
$news-total-width: 343px;
$news-total-height: 260px;
$news-image: '../img/sprites/sprite.png';
$news: (0px, 236px, 0px, -236px, 24px, 24px, 343px, 260px, '../img/sprites/sprite.png', 'news', );
$phone-volume-name: 'phone-volume';
$phone-volume-x: 50px;
$phone-volume-y: 0px;
$phone-volume-offset-x: -50px;
$phone-volume-offset-y: 0px;
$phone-volume-width: 30px;
$phone-volume-height: 40px;
$phone-volume-total-width: 343px;
$phone-volume-total-height: 260px;
$phone-volume-image: '../img/sprites/sprite.png';
$phone-volume: (50px, 0px, -50px, 0px, 30px, 40px, 343px, 260px, '../img/sprites/sprite.png', 'phone-volume', );
$pin-drop-name: 'pin_drop';
$pin-drop-x: 88px;
$pin-drop-y: 236px;
$pin-drop-offset-x: -88px;
$pin-drop-offset-y: -236px;
$pin-drop-width: 24px;
$pin-drop-height: 24px;
$pin-drop-total-width: 343px;
$pin-drop-total-height: 260px;
$pin-drop-image: '../img/sprites/sprite.png';
$pin-drop: (88px, 236px, -88px, -236px, 24px, 24px, 343px, 260px, '../img/sprites/sprite.png', 'pin_drop', );
$place-name: 'place';
$place-x: 132px;
$place-y: 236px;
$place-offset-x: -132px;
$place-offset-y: -236px;
$place-width: 24px;
$place-height: 24px;
$place-total-width: 343px;
$place-total-height: 260px;
$place-image: '../img/sprites/sprite.png';
$place: (132px, 236px, -132px, -236px, 24px, 24px, 343px, 260px, '../img/sprites/sprite.png', 'place', );
$point-w-name: 'point_w';
$point-w-x: 176px;
$point-w-y: 236px;
$point-w-offset-x: -176px;
$point-w-offset-y: -236px;
$point-w-width: 24px;
$point-w-height: 24px;
$point-w-total-width: 343px;
$point-w-total-height: 260px;
$point-w-image: '../img/sprites/sprite.png';
$point-w: (176px, 236px, -176px, -236px, 24px, 24px, 343px, 260px, '../img/sprites/sprite.png', 'point_w', );
$refresh-name: 'refresh';
$refresh-x: 220px;
$refresh-y: 236px;
$refresh-offset-x: -220px;
$refresh-offset-y: -236px;
$refresh-width: 24px;
$refresh-height: 24px;
$refresh-total-width: 343px;
$refresh-total-height: 260px;
$refresh-image: '../img/sprites/sprite.png';
$refresh: (220px, 236px, -220px, -236px, 24px, 24px, 343px, 260px, '../img/sprites/sprite.png', 'refresh', );
$subject-name: 'subject';
$subject-x: 176px;
$subject-y: 148px;
$subject-offset-x: -176px;
$subject-offset-y: -148px;
$subject-width: 24px;
$subject-height: 24px;
$subject-total-width: 343px;
$subject-total-height: 260px;
$subject-image: '../img/sprites/sprite.png';
$subject: (176px, 148px, -176px, -148px, 24px, 24px, 343px, 260px, '../img/sprites/sprite.png', 'subject', );
$twitter-name: 'twitter';
$twitter-x: 320px;
$twitter-y: 44px;
$twitter-offset-x: -320px;
$twitter-offset-y: -44px;
$twitter-width: 20px;
$twitter-height: 18px;
$twitter-total-width: 343px;
$twitter-total-height: 260px;
$twitter-image: '../img/sprites/sprite.png';
$twitter: (320px, 44px, -320px, -44px, 20px, 18px, 343px, 260px, '../img/sprites/sprite.png', 'twitter', );
$warning-name: 'warning';
$warning-x: 0px;
$warning-y: 104px;
$warning-offset-x: 0px;
$warning-offset-y: -104px;
$warning-width: 24px;
$warning-height: 24px;
$warning-total-width: 343px;
$warning-total-height: 260px;
$warning-image: '../img/sprites/sprite.png';
$warning: (0px, 104px, 0px, -104px, 24px, 24px, 343px, 260px, '../img/sprites/sprite.png', 'warning', );
$zoom-out-map-name: 'zoom_out_map';
$zoom-out-map-x: 264px;
$zoom-out-map-y: 236px;
$zoom-out-map-offset-x: -264px;
$zoom-out-map-offset-y: -236px;
$zoom-out-map-width: 24px;
$zoom-out-map-height: 24px;
$zoom-out-map-total-width: 343px;
$zoom-out-map-total-height: 260px;
$zoom-out-map-image: '../img/sprites/sprite.png';
$zoom-out-map: (264px, 236px, -264px, -236px, 24px, 24px, 343px, 260px, '../img/sprites/sprite.png', 'zoom_out_map', );
$arrow-back-2x-name: 'arrow_back@2x';
$arrow-back-2x-x: 440px;
$arrow-back-2x-y: 384px;
$arrow-back-2x-offset-x: -440px;
$arrow-back-2x-offset-y: -384px;
$arrow-back-2x-width: 48px;
$arrow-back-2x-height: 48px;
$arrow-back-2x-total-width: 686px;
$arrow-back-2x-total-height: 520px;
$arrow-back-2x-image: '../img/sprites/sprite@2x.png';
$arrow-back-2x: (440px, 384px, -440px, -384px, 48px, 48px, 686px, 520px, '../img/sprites/sprite@2x.png', 'arrow_back@2x', );
$arrow-downward-2x-name: 'arrow_downward@2x';
$arrow-downward-2x-x: 464px;
$arrow-downward-2x-y: 176px;
$arrow-downward-2x-offset-x: -464px;
$arrow-downward-2x-offset-y: -176px;
$arrow-downward-2x-width: 48px;
$arrow-downward-2x-height: 48px;
$arrow-downward-2x-total-width: 686px;
$arrow-downward-2x-total-height: 520px;
$arrow-downward-2x-image: '../img/sprites/sprite@2x.png';
$arrow-downward-2x: (464px, 176px, -464px, -176px, 48px, 48px, 686px, 520px, '../img/sprites/sprite@2x.png', 'arrow_downward@2x', );
$arrow-drop-down-2x-name: 'arrow_drop_down@2x';
$arrow-drop-down-2x-x: 88px;
$arrow-drop-down-2x-y: 472px;
$arrow-drop-down-2x-offset-x: -88px;
$arrow-drop-down-2x-offset-y: -472px;
$arrow-drop-down-2x-width: 48px;
$arrow-drop-down-2x-height: 48px;
$arrow-drop-down-2x-total-width: 686px;
$arrow-drop-down-2x-total-height: 520px;
$arrow-drop-down-2x-image: '../img/sprites/sprite@2x.png';
$arrow-drop-down-2x: (88px, 472px, -88px, -472px, 48px, 48px, 686px, 520px, '../img/sprites/sprite@2x.png', 'arrow_drop_down@2x', );
$arrow-drop-down-circle-2x-name: 'arrow_drop_down_circle@2x';
$arrow-drop-down-circle-2x-x: 0px;
$arrow-drop-down-circle-2x-y: 120px;
$arrow-drop-down-circle-2x-offset-x: 0px;
$arrow-drop-down-circle-2x-offset-y: -120px;
$arrow-drop-down-circle-2x-width: 48px;
$arrow-drop-down-circle-2x-height: 48px;
$arrow-drop-down-circle-2x-total-width: 686px;
$arrow-drop-down-circle-2x-total-height: 520px;
$arrow-drop-down-circle-2x-image: '../img/sprites/sprite@2x.png';
$arrow-drop-down-circle-2x: (0px, 120px, 0px, -120px, 48px, 48px, 686px, 520px, '../img/sprites/sprite@2x.png', 'arrow_drop_down_circle@2x', );
$arrow-drop-up-2x-name: 'arrow_drop_up@2x';
$arrow-drop-up-2x-x: 88px;
$arrow-drop-up-2x-y: 120px;
$arrow-drop-up-2x-offset-x: -88px;
$arrow-drop-up-2x-offset-y: -120px;
$arrow-drop-up-2x-width: 48px;
$arrow-drop-up-2x-height: 48px;
$arrow-drop-up-2x-total-width: 686px;
$arrow-drop-up-2x-total-height: 520px;
$arrow-drop-up-2x-image: '../img/sprites/sprite@2x.png';
$arrow-drop-up-2x: (88px, 120px, -88px, -120px, 48px, 48px, 686px, 520px, '../img/sprites/sprite@2x.png', 'arrow_drop_up@2x', );
$arrow-forward-2x-name: 'arrow_forward@2x';
$arrow-forward-2x-x: 176px;
$arrow-forward-2x-y: 120px;
$arrow-forward-2x-offset-x: -176px;
$arrow-forward-2x-offset-y: -120px;
$arrow-forward-2x-width: 48px;
$arrow-forward-2x-height: 48px;
$arrow-forward-2x-total-width: 686px;
$arrow-forward-2x-total-height: 520px;
$arrow-forward-2x-image: '../img/sprites/sprite@2x.png';
$arrow-forward-2x: (176px, 120px, -176px, -120px, 48px, 48px, 686px, 520px, '../img/sprites/sprite@2x.png', 'arrow_forward@2x', );
$arrow-upward-2x-name: 'arrow_upward@2x';
$arrow-upward-2x-x: 288px;
$arrow-upward-2x-y: 0px;
$arrow-upward-2x-offset-x: -288px;
$arrow-upward-2x-offset-y: 0px;
$arrow-upward-2x-width: 48px;
$arrow-upward-2x-height: 48px;
$arrow-upward-2x-total-width: 686px;
$arrow-upward-2x-total-height: 520px;
$arrow-upward-2x-image: '../img/sprites/sprite@2x.png';
$arrow-upward-2x: (288px, 0px, -288px, 0px, 48px, 48px, 686px, 520px, '../img/sprites/sprite@2x.png', 'arrow_upward@2x', );
$cancel-2x-name: 'cancel@2x';
$cancel-2x-x: 288px;
$cancel-2x-y: 88px;
$cancel-2x-offset-x: -288px;
$cancel-2x-offset-y: -88px;
$cancel-2x-width: 48px;
$cancel-2x-height: 48px;
$cancel-2x-total-width: 686px;
$cancel-2x-total-height: 520px;
$cancel-2x-image: '../img/sprites/sprite@2x.png';
$cancel-2x: (288px, 88px, -288px, -88px, 48px, 48px, 686px, 520px, '../img/sprites/sprite@2x.png', 'cancel@2x', );
$check-2x-name: 'check@2x';
$check-2x-x: 640px;
$check-2x-y: 0px;
$check-2x-offset-x: -640px;
$check-2x-offset-y: 0px;
$check-2x-width: 46px;
$check-2x-height: 48px;
$check-2x-total-width: 686px;
$check-2x-total-height: 520px;
$check-2x-image: '../img/sprites/sprite@2x.png';
$check-2x: (640px, 0px, -640px, 0px, 46px, 48px, 686px, 520px, '../img/sprites/sprite@2x.png', 'check@2x', );
$chevron-left-2x-name: 'chevron_left@2x';
$chevron-left-2x-x: 88px;
$chevron-left-2x-y: 208px;
$chevron-left-2x-offset-x: -88px;
$chevron-left-2x-offset-y: -208px;
$chevron-left-2x-width: 48px;
$chevron-left-2x-height: 48px;
$chevron-left-2x-total-width: 686px;
$chevron-left-2x-total-height: 520px;
$chevron-left-2x-image: '../img/sprites/sprite@2x.png';
$chevron-left-2x: (88px, 208px, -88px, -208px, 48px, 48px, 686px, 520px, '../img/sprites/sprite@2x.png', 'chevron_left@2x', );
$chevron-right-2x-name: 'chevron_right@2x';
$chevron-right-2x-x: 176px;
$chevron-right-2x-y: 208px;
$chevron-right-2x-offset-x: -176px;
$chevron-right-2x-offset-y: -208px;
$chevron-right-2x-width: 48px;
$chevron-right-2x-height: 48px;
$chevron-right-2x-total-width: 686px;
$chevron-right-2x-total-height: 520px;
$chevron-right-2x-image: '../img/sprites/sprite@2x.png';
$chevron-right-2x: (176px, 208px, -176px, -208px, 48px, 48px, 686px, 520px, '../img/sprites/sprite@2x.png', 'chevron_right@2x', );
$close-w-2x-name: 'close-w@2x';
$close-w-2x-x: 264px;
$close-w-2x-y: 208px;
$close-w-2x-offset-x: -264px;
$close-w-2x-offset-y: -208px;
$close-w-2x-width: 48px;
$close-w-2x-height: 48px;
$close-w-2x-total-width: 686px;
$close-w-2x-total-height: 520px;
$close-w-2x-image: '../img/sprites/sprite@2x.png';
$close-w-2x: (264px, 208px, -264px, -208px, 48px, 48px, 686px, 520px, '../img/sprites/sprite@2x.png', 'close-w@2x', );
$close-2x-name: 'close@2x';
$close-2x-x: 376px;
$close-2x-y: 0px;
$close-2x-offset-x: -376px;
$close-2x-offset-y: 0px;
$close-2x-width: 48px;
$close-2x-height: 48px;
$close-2x-total-width: 686px;
$close-2x-total-height: 520px;
$close-2x-image: '../img/sprites/sprite@2x.png';
$close-2x: (376px, 0px, -376px, 0px, 48px, 48px, 686px, 520px, '../img/sprites/sprite@2x.png', 'close@2x', );
$dashboard-2x-name: 'dashboard@2x';
$dashboard-2x-x: 376px;
$dashboard-2x-y: 88px;
$dashboard-2x-offset-x: -376px;
$dashboard-2x-offset-y: -88px;
$dashboard-2x-width: 48px;
$dashboard-2x-height: 48px;
$dashboard-2x-total-width: 686px;
$dashboard-2x-total-height: 520px;
$dashboard-2x-image: '../img/sprites/sprite@2x.png';
$dashboard-2x: (376px, 88px, -376px, -88px, 48px, 48px, 686px, 520px, '../img/sprites/sprite@2x.png', 'dashboard@2x', );
$domain-2x-name: 'domain@2x';
$domain-2x-x: 376px;
$domain-2x-y: 176px;
$domain-2x-offset-x: -376px;
$domain-2x-offset-y: -176px;
$domain-2x-width: 48px;
$domain-2x-height: 48px;
$domain-2x-total-width: 686px;
$domain-2x-total-height: 520px;
$domain-2x-image: '../img/sprites/sprite@2x.png';
$domain-2x: (376px, 176px, -376px, -176px, 48px, 48px, 686px, 520px, '../img/sprites/sprite@2x.png', 'domain@2x', );
$error-2x-name: 'error@2x';
$error-2x-x: 0px;
$error-2x-y: 296px;
$error-2x-offset-x: 0px;
$error-2x-offset-y: -296px;
$error-2x-width: 48px;
$error-2x-height: 48px;
$error-2x-total-width: 686px;
$error-2x-total-height: 520px;
$error-2x-image: '../img/sprites/sprite@2x.png';
$error-2x: (0px, 296px, 0px, -296px, 48px, 48px, 686px, 520px, '../img/sprites/sprite@2x.png', 'error@2x', );
$error-outline-2x-name: 'error_outline@2x';
$error-outline-2x-x: 88px;
$error-outline-2x-y: 296px;
$error-outline-2x-offset-x: -88px;
$error-outline-2x-offset-y: -296px;
$error-outline-2x-width: 48px;
$error-outline-2x-height: 48px;
$error-outline-2x-total-width: 686px;
$error-outline-2x-total-height: 520px;
$error-outline-2x-image: '../img/sprites/sprite@2x.png';
$error-outline-2x: (88px, 296px, -88px, -296px, 48px, 48px, 686px, 520px, '../img/sprites/sprite@2x.png', 'error_outline@2x', );
$expand-less-2x-name: 'expand_less@2x';
$expand-less-2x-x: 176px;
$expand-less-2x-y: 296px;
$expand-less-2x-offset-x: -176px;
$expand-less-2x-offset-y: -296px;
$expand-less-2x-width: 48px;
$expand-less-2x-height: 48px;
$expand-less-2x-total-width: 686px;
$expand-less-2x-total-height: 520px;
$expand-less-2x-image: '../img/sprites/sprite@2x.png';
$expand-less-2x: (176px, 296px, -176px, -296px, 48px, 48px, 686px, 520px, '../img/sprites/sprite@2x.png', 'expand_less@2x', );
$expand-more-2x-name: 'expand_more@2x';
$expand-more-2x-x: 264px;
$expand-more-2x-y: 296px;
$expand-more-2x-offset-x: -264px;
$expand-more-2x-offset-y: -296px;
$expand-more-2x-width: 48px;
$expand-more-2x-height: 48px;
$expand-more-2x-total-width: 686px;
$expand-more-2x-total-height: 520px;
$expand-more-2x-image: '../img/sprites/sprite@2x.png';
$expand-more-2x: (264px, 296px, -264px, -296px, 48px, 48px, 686px, 520px, '../img/sprites/sprite@2x.png', 'expand_more@2x', );
$facebook-f-2x-name: 'facebook-f@2x';
$facebook-f-2x-x: 640px;
$facebook-f-2x-y: 164px;
$facebook-f-2x-offset-x: -640px;
$facebook-f-2x-offset-y: -164px;
$facebook-f-2x-width: 24px;
$facebook-f-2x-height: 40px;
$facebook-f-2x-total-width: 686px;
$facebook-f-2x-total-height: 520px;
$facebook-f-2x-image: '../img/sprites/sprite@2x.png';
$facebook-f-2x: (640px, 164px, -640px, -164px, 24px, 40px, 686px, 520px, '../img/sprites/sprite@2x.png', 'facebook-f@2x', );
$facebook-w-2x-name: 'facebook-w@2x';
$facebook-w-2x-x: 464px;
$facebook-w-2x-y: 0px;
$facebook-w-2x-offset-x: -464px;
$facebook-w-2x-offset-y: 0px;
$facebook-w-2x-width: 48px;
$facebook-w-2x-height: 48px;
$facebook-w-2x-total-width: 686px;
$facebook-w-2x-total-height: 520px;
$facebook-w-2x-image: '../img/sprites/sprite@2x.png';
$facebook-w-2x: (464px, 0px, -464px, 0px, 48px, 48px, 686px, 520px, '../img/sprites/sprite@2x.png', 'facebook-w@2x', );
$facebook-2x-name: 'facebook@2x';
$facebook-2x-x: 464px;
$facebook-2x-y: 88px;
$facebook-2x-offset-x: -464px;
$facebook-2x-offset-y: -88px;
$facebook-2x-width: 48px;
$facebook-2x-height: 48px;
$facebook-2x-total-width: 686px;
$facebook-2x-total-height: 520px;
$facebook-2x-image: '../img/sprites/sprite@2x.png';
$facebook-2x: (464px, 88px, -464px, -88px, 48px, 48px, 686px, 520px, '../img/sprites/sprite@2x.png', 'facebook@2x', );
$fullscreen-2x-name: 'fullscreen@2x';
$fullscreen-2x-x: 200px;
$fullscreen-2x-y: 0px;
$fullscreen-2x-offset-x: -200px;
$fullscreen-2x-offset-y: 0px;
$fullscreen-2x-width: 48px;
$fullscreen-2x-height: 48px;
$fullscreen-2x-total-width: 686px;
$fullscreen-2x-total-height: 520px;
$fullscreen-2x-image: '../img/sprites/sprite@2x.png';
$fullscreen-2x: (200px, 0px, -200px, 0px, 48px, 48px, 686px, 520px, '../img/sprites/sprite@2x.png', 'fullscreen@2x', );
$fullscreen-exit-2x-name: 'fullscreen_exit@2x';
$fullscreen-exit-2x-x: 464px;
$fullscreen-exit-2x-y: 264px;
$fullscreen-exit-2x-offset-x: -464px;
$fullscreen-exit-2x-offset-y: -264px;
$fullscreen-exit-2x-width: 48px;
$fullscreen-exit-2x-height: 48px;
$fullscreen-exit-2x-total-width: 686px;
$fullscreen-exit-2x-total-height: 520px;
$fullscreen-exit-2x-image: '../img/sprites/sprite@2x.png';
$fullscreen-exit-2x: (464px, 264px, -464px, -264px, 48px, 48px, 686px, 520px, '../img/sprites/sprite@2x.png', 'fullscreen_exit@2x', );
$home-2x-name: 'home@2x';
$home-2x-x: 0px;
$home-2x-y: 384px;
$home-2x-offset-x: 0px;
$home-2x-offset-y: -384px;
$home-2x-width: 48px;
$home-2x-height: 48px;
$home-2x-total-width: 686px;
$home-2x-total-height: 520px;
$home-2x-image: '../img/sprites/sprite@2x.png';
$home-2x: (0px, 384px, 0px, -384px, 48px, 48px, 686px, 520px, '../img/sprites/sprite@2x.png', 'home@2x', );
$instagram-w-2x-name: 'instagram-w@2x';
$instagram-w-2x-x: 88px;
$instagram-w-2x-y: 384px;
$instagram-w-2x-offset-x: -88px;
$instagram-w-2x-offset-y: -384px;
$instagram-w-2x-width: 48px;
$instagram-w-2x-height: 48px;
$instagram-w-2x-total-width: 686px;
$instagram-w-2x-total-height: 520px;
$instagram-w-2x-image: '../img/sprites/sprite@2x.png';
$instagram-w-2x: (88px, 384px, -88px, -384px, 48px, 48px, 686px, 520px, '../img/sprites/sprite@2x.png', 'instagram-w@2x', );
$instagram-2x-name: 'instagram@2x';
$instagram-2x-x: 176px;
$instagram-2x-y: 384px;
$instagram-2x-offset-x: -176px;
$instagram-2x-offset-y: -384px;
$instagram-2x-width: 48px;
$instagram-2x-height: 48px;
$instagram-2x-total-width: 686px;
$instagram-2x-total-height: 520px;
$instagram-2x-image: '../img/sprites/sprite@2x.png';
$instagram-2x: (176px, 384px, -176px, -384px, 48px, 48px, 686px, 520px, '../img/sprites/sprite@2x.png', 'instagram@2x', );
$local-post-office-2x-name: 'local_post_office@2x';
$local-post-office-2x-x: 264px;
$local-post-office-2x-y: 384px;
$local-post-office-2x-offset-x: -264px;
$local-post-office-2x-offset-y: -384px;
$local-post-office-2x-width: 48px;
$local-post-office-2x-height: 48px;
$local-post-office-2x-total-width: 686px;
$local-post-office-2x-total-height: 520px;
$local-post-office-2x-image: '../img/sprites/sprite@2x.png';
$local-post-office-2x: (264px, 384px, -264px, -384px, 48px, 48px, 686px, 520px, '../img/sprites/sprite@2x.png', 'local_post_office@2x', );
$local-shipping-2x-name: 'local_shipping@2x';
$local-shipping-2x-x: 352px;
$local-shipping-2x-y: 384px;
$local-shipping-2x-offset-x: -352px;
$local-shipping-2x-offset-y: -384px;
$local-shipping-2x-width: 48px;
$local-shipping-2x-height: 48px;
$local-shipping-2x-total-width: 686px;
$local-shipping-2x-total-height: 520px;
$local-shipping-2x-image: '../img/sprites/sprite@2x.png';
$local-shipping-2x: (352px, 384px, -352px, -384px, 48px, 48px, 686px, 520px, '../img/sprites/sprite@2x.png', 'local_shipping@2x', );
$map-marker-alt-2x-name: 'map-marker-alt@2x';
$map-marker-alt-2x-x: 0px;
$map-marker-alt-2x-y: 0px;
$map-marker-alt-2x-offset-x: 0px;
$map-marker-alt-2x-offset-y: 0px;
$map-marker-alt-2x-width: 60px;
$map-marker-alt-2x-height: 80px;
$map-marker-alt-2x-total-width: 686px;
$map-marker-alt-2x-total-height: 520px;
$map-marker-alt-2x-image: '../img/sprites/sprite@2x.png';
$map-marker-alt-2x: (0px, 0px, 0px, 0px, 60px, 80px, 686px, 520px, '../img/sprites/sprite@2x.png', 'map-marker-alt@2x', );
$menu-w-2x-name: 'menu-w@2x';
$menu-w-2x-x: 552px;
$menu-w-2x-y: 0px;
$menu-w-2x-offset-x: -552px;
$menu-w-2x-offset-y: 0px;
$menu-w-2x-width: 48px;
$menu-w-2x-height: 48px;
$menu-w-2x-total-width: 686px;
$menu-w-2x-total-height: 520px;
$menu-w-2x-image: '../img/sprites/sprite@2x.png';
$menu-w-2x: (552px, 0px, -552px, 0px, 48px, 48px, 686px, 520px, '../img/sprites/sprite@2x.png', 'menu-w@2x', );
$menu-2x-name: 'menu@2x';
$menu-2x-x: 552px;
$menu-2x-y: 88px;
$menu-2x-offset-x: -552px;
$menu-2x-offset-y: -88px;
$menu-2x-width: 48px;
$menu-2x-height: 48px;
$menu-2x-total-width: 686px;
$menu-2x-total-height: 520px;
$menu-2x-image: '../img/sprites/sprite@2x.png';
$menu-2x: (552px, 88px, -552px, -88px, 48px, 48px, 686px, 520px, '../img/sprites/sprite@2x.png', 'menu@2x', );
$more-horiz-2x-name: 'more_horiz@2x';
$more-horiz-2x-x: 552px;
$more-horiz-2x-y: 176px;
$more-horiz-2x-offset-x: -552px;
$more-horiz-2x-offset-y: -176px;
$more-horiz-2x-width: 48px;
$more-horiz-2x-height: 48px;
$more-horiz-2x-total-width: 686px;
$more-horiz-2x-total-height: 520px;
$more-horiz-2x-image: '../img/sprites/sprite@2x.png';
$more-horiz-2x: (552px, 176px, -552px, -176px, 48px, 48px, 686px, 520px, '../img/sprites/sprite@2x.png', 'more_horiz@2x', );
$more-vert-2x-name: 'more_vert@2x';
$more-vert-2x-x: 552px;
$more-vert-2x-y: 264px;
$more-vert-2x-offset-x: -552px;
$more-vert-2x-offset-y: -264px;
$more-vert-2x-width: 48px;
$more-vert-2x-height: 48px;
$more-vert-2x-total-width: 686px;
$more-vert-2x-total-height: 520px;
$more-vert-2x-image: '../img/sprites/sprite@2x.png';
$more-vert-2x: (552px, 264px, -552px, -264px, 48px, 48px, 686px, 520px, '../img/sprites/sprite@2x.png', 'more_vert@2x', );
$news-copy-2x-name: 'news copy@2x';
$news-copy-2x-x: 552px;
$news-copy-2x-y: 352px;
$news-copy-2x-offset-x: -552px;
$news-copy-2x-offset-y: -352px;
$news-copy-2x-width: 48px;
$news-copy-2x-height: 48px;
$news-copy-2x-total-width: 686px;
$news-copy-2x-total-height: 520px;
$news-copy-2x-image: '../img/sprites/sprite@2x.png';
$news-copy-2x: (552px, 352px, -552px, -352px, 48px, 48px, 686px, 520px, '../img/sprites/sprite@2x.png', 'news copy@2x', );
$news-2x-name: 'news@2x';
$news-2x-x: 0px;
$news-2x-y: 472px;
$news-2x-offset-x: 0px;
$news-2x-offset-y: -472px;
$news-2x-width: 48px;
$news-2x-height: 48px;
$news-2x-total-width: 686px;
$news-2x-total-height: 520px;
$news-2x-image: '../img/sprites/sprite@2x.png';
$news-2x: (0px, 472px, 0px, -472px, 48px, 48px, 686px, 520px, '../img/sprites/sprite@2x.png', 'news@2x', );
$phone-volume-2x-name: 'phone-volume@2x';
$phone-volume-2x-x: 100px;
$phone-volume-2x-y: 0px;
$phone-volume-2x-offset-x: -100px;
$phone-volume-2x-offset-y: 0px;
$phone-volume-2x-width: 60px;
$phone-volume-2x-height: 80px;
$phone-volume-2x-total-width: 686px;
$phone-volume-2x-total-height: 520px;
$phone-volume-2x-image: '../img/sprites/sprite@2x.png';
$phone-volume-2x: (100px, 0px, -100px, 0px, 60px, 80px, 686px, 520px, '../img/sprites/sprite@2x.png', 'phone-volume@2x', );
$pin-drop-2x-name: 'pin_drop@2x';
$pin-drop-2x-x: 176px;
$pin-drop-2x-y: 472px;
$pin-drop-2x-offset-x: -176px;
$pin-drop-2x-offset-y: -472px;
$pin-drop-2x-width: 48px;
$pin-drop-2x-height: 48px;
$pin-drop-2x-total-width: 686px;
$pin-drop-2x-total-height: 520px;
$pin-drop-2x-image: '../img/sprites/sprite@2x.png';
$pin-drop-2x: (176px, 472px, -176px, -472px, 48px, 48px, 686px, 520px, '../img/sprites/sprite@2x.png', 'pin_drop@2x', );
$place-2x-name: 'place@2x';
$place-2x-x: 264px;
$place-2x-y: 472px;
$place-2x-offset-x: -264px;
$place-2x-offset-y: -472px;
$place-2x-width: 48px;
$place-2x-height: 48px;
$place-2x-total-width: 686px;
$place-2x-total-height: 520px;
$place-2x-image: '../img/sprites/sprite@2x.png';
$place-2x: (264px, 472px, -264px, -472px, 48px, 48px, 686px, 520px, '../img/sprites/sprite@2x.png', 'place@2x', );
$point-w-2x-name: 'point_w@2x';
$point-w-2x-x: 352px;
$point-w-2x-y: 472px;
$point-w-2x-offset-x: -352px;
$point-w-2x-offset-y: -472px;
$point-w-2x-width: 48px;
$point-w-2x-height: 48px;
$point-w-2x-total-width: 686px;
$point-w-2x-total-height: 520px;
$point-w-2x-image: '../img/sprites/sprite@2x.png';
$point-w-2x: (352px, 472px, -352px, -472px, 48px, 48px, 686px, 520px, '../img/sprites/sprite@2x.png', 'point_w@2x', );
$refresh-2x-name: 'refresh@2x';
$refresh-2x-x: 440px;
$refresh-2x-y: 472px;
$refresh-2x-offset-x: -440px;
$refresh-2x-offset-y: -472px;
$refresh-2x-width: 48px;
$refresh-2x-height: 48px;
$refresh-2x-total-width: 686px;
$refresh-2x-total-height: 520px;
$refresh-2x-image: '../img/sprites/sprite@2x.png';
$refresh-2x: (440px, 472px, -440px, -472px, 48px, 48px, 686px, 520px, '../img/sprites/sprite@2x.png', 'refresh@2x', );
$subject-2x-name: 'subject@2x';
$subject-2x-x: 352px;
$subject-2x-y: 296px;
$subject-2x-offset-x: -352px;
$subject-2x-offset-y: -296px;
$subject-2x-width: 48px;
$subject-2x-height: 48px;
$subject-2x-total-width: 686px;
$subject-2x-total-height: 520px;
$subject-2x-image: '../img/sprites/sprite@2x.png';
$subject-2x: (352px, 296px, -352px, -296px, 48px, 48px, 686px, 520px, '../img/sprites/sprite@2x.png', 'subject@2x', );
$twitter-2x-name: 'twitter@2x';
$twitter-2x-x: 640px;
$twitter-2x-y: 88px;
$twitter-2x-offset-x: -640px;
$twitter-2x-offset-y: -88px;
$twitter-2x-width: 40px;
$twitter-2x-height: 36px;
$twitter-2x-total-width: 686px;
$twitter-2x-total-height: 520px;
$twitter-2x-image: '../img/sprites/sprite@2x.png';
$twitter-2x: (640px, 88px, -640px, -88px, 40px, 36px, 686px, 520px, '../img/sprites/sprite@2x.png', 'twitter@2x', );
$warning-2x-name: 'warning@2x';
$warning-2x-x: 0px;
$warning-2x-y: 208px;
$warning-2x-offset-x: 0px;
$warning-2x-offset-y: -208px;
$warning-2x-width: 48px;
$warning-2x-height: 48px;
$warning-2x-total-width: 686px;
$warning-2x-total-height: 520px;
$warning-2x-image: '../img/sprites/sprite@2x.png';
$warning-2x: (0px, 208px, 0px, -208px, 48px, 48px, 686px, 520px, '../img/sprites/sprite@2x.png', 'warning@2x', );
$zoom-out-map-2x-name: 'zoom_out_map@2x';
$zoom-out-map-2x-x: 528px;
$zoom-out-map-2x-y: 472px;
$zoom-out-map-2x-offset-x: -528px;
$zoom-out-map-2x-offset-y: -472px;
$zoom-out-map-2x-width: 48px;
$zoom-out-map-2x-height: 48px;
$zoom-out-map-2x-total-width: 686px;
$zoom-out-map-2x-total-height: 520px;
$zoom-out-map-2x-image: '../img/sprites/sprite@2x.png';
$zoom-out-map-2x: (528px, 472px, -528px, -472px, 48px, 48px, 686px, 520px, '../img/sprites/sprite@2x.png', 'zoom_out_map@2x', );
$spritesheet-width: 343px;
$spritesheet-height: 260px;
$spritesheet-image: '../img/sprites/sprite.png';
$spritesheet-sprites: ($arrow-back, $arrow-downward, $arrow-drop-down, $arrow-drop-down-circle, $arrow-drop-up, $arrow-forward, $arrow-upward, $cancel, $check, $chevron-left, $chevron-right, $close-w, $close, $dashboard, $domain, $error, $error-outline, $expand-less, $expand-more, $facebook-f, $facebook-w, $facebook, $fullscreen, $fullscreen-exit, $home, $instagram-w, $instagram, $local-post-office, $local-shipping, $map-marker-alt, $menu-w, $menu, $more-horiz, $more-vert, $news-copy, $news, $phone-volume, $pin-drop, $place, $point-w, $refresh, $subject, $twitter, $warning, $zoom-out-map, );
$spritesheet: (343px, 260px, '../img/sprites/sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 686px;
$retina-spritesheet-height: 520px;
$retina-spritesheet-image: '../img/sprites/sprite@2x.png';
$retina-spritesheet-sprites: ($arrow-back-2x, $arrow-downward-2x, $arrow-drop-down-2x, $arrow-drop-down-circle-2x, $arrow-drop-up-2x, $arrow-forward-2x, $arrow-upward-2x, $cancel-2x, $check-2x, $chevron-left-2x, $chevron-right-2x, $close-w-2x, $close-2x, $dashboard-2x, $domain-2x, $error-2x, $error-outline-2x, $expand-less-2x, $expand-more-2x, $facebook-f-2x, $facebook-w-2x, $facebook-2x, $fullscreen-2x, $fullscreen-exit-2x, $home-2x, $instagram-w-2x, $instagram-2x, $local-post-office-2x, $local-shipping-2x, $map-marker-alt-2x, $menu-w-2x, $menu-2x, $more-horiz-2x, $more-vert-2x, $news-copy-2x, $news-2x, $phone-volume-2x, $pin-drop-2x, $place-2x, $point-w-2x, $refresh-2x, $subject-2x, $twitter-2x, $warning-2x, $zoom-out-map-2x, );
$retina-spritesheet: (686px, 520px, '../img/sprites/sprite@2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$arrow-back-group-name: 'arrow_back';
$arrow-back-group: ('arrow_back', $arrow-back, $arrow-back-2x, );
$arrow-downward-group-name: 'arrow_downward';
$arrow-downward-group: ('arrow_downward', $arrow-downward, $arrow-downward-2x, );
$arrow-drop-down-group-name: 'arrow_drop_down';
$arrow-drop-down-group: ('arrow_drop_down', $arrow-drop-down, $arrow-drop-down-2x, );
$arrow-drop-down-circle-group-name: 'arrow_drop_down_circle';
$arrow-drop-down-circle-group: ('arrow_drop_down_circle', $arrow-drop-down-circle, $arrow-drop-down-circle-2x, );
$arrow-drop-up-group-name: 'arrow_drop_up';
$arrow-drop-up-group: ('arrow_drop_up', $arrow-drop-up, $arrow-drop-up-2x, );
$arrow-forward-group-name: 'arrow_forward';
$arrow-forward-group: ('arrow_forward', $arrow-forward, $arrow-forward-2x, );
$arrow-upward-group-name: 'arrow_upward';
$arrow-upward-group: ('arrow_upward', $arrow-upward, $arrow-upward-2x, );
$cancel-group-name: 'cancel';
$cancel-group: ('cancel', $cancel, $cancel-2x, );
$check-group-name: 'check';
$check-group: ('check', $check, $check-2x, );
$chevron-left-group-name: 'chevron_left';
$chevron-left-group: ('chevron_left', $chevron-left, $chevron-left-2x, );
$chevron-right-group-name: 'chevron_right';
$chevron-right-group: ('chevron_right', $chevron-right, $chevron-right-2x, );
$close-w-group-name: 'close-w';
$close-w-group: ('close-w', $close-w, $close-w-2x, );
$close-group-name: 'close';
$close-group: ('close', $close, $close-2x, );
$dashboard-group-name: 'dashboard';
$dashboard-group: ('dashboard', $dashboard, $dashboard-2x, );
$domain-group-name: 'domain';
$domain-group: ('domain', $domain, $domain-2x, );
$error-group-name: 'error';
$error-group: ('error', $error, $error-2x, );
$error-outline-group-name: 'error_outline';
$error-outline-group: ('error_outline', $error-outline, $error-outline-2x, );
$expand-less-group-name: 'expand_less';
$expand-less-group: ('expand_less', $expand-less, $expand-less-2x, );
$expand-more-group-name: 'expand_more';
$expand-more-group: ('expand_more', $expand-more, $expand-more-2x, );
$facebook-f-group-name: 'facebook-f';
$facebook-f-group: ('facebook-f', $facebook-f, $facebook-f-2x, );
$facebook-w-group-name: 'facebook-w';
$facebook-w-group: ('facebook-w', $facebook-w, $facebook-w-2x, );
$facebook-group-name: 'facebook';
$facebook-group: ('facebook', $facebook, $facebook-2x, );
$fullscreen-group-name: 'fullscreen';
$fullscreen-group: ('fullscreen', $fullscreen, $fullscreen-2x, );
$fullscreen-exit-group-name: 'fullscreen_exit';
$fullscreen-exit-group: ('fullscreen_exit', $fullscreen-exit, $fullscreen-exit-2x, );
$home-group-name: 'home';
$home-group: ('home', $home, $home-2x, );
$instagram-w-group-name: 'instagram-w';
$instagram-w-group: ('instagram-w', $instagram-w, $instagram-w-2x, );
$instagram-group-name: 'instagram';
$instagram-group: ('instagram', $instagram, $instagram-2x, );
$local-post-office-group-name: 'local_post_office';
$local-post-office-group: ('local_post_office', $local-post-office, $local-post-office-2x, );
$local-shipping-group-name: 'local_shipping';
$local-shipping-group: ('local_shipping', $local-shipping, $local-shipping-2x, );
$map-marker-alt-group-name: 'map-marker-alt';
$map-marker-alt-group: ('map-marker-alt', $map-marker-alt, $map-marker-alt-2x, );
$menu-w-group-name: 'menu-w';
$menu-w-group: ('menu-w', $menu-w, $menu-w-2x, );
$menu-group-name: 'menu';
$menu-group: ('menu', $menu, $menu-2x, );
$more-horiz-group-name: 'more_horiz';
$more-horiz-group: ('more_horiz', $more-horiz, $more-horiz-2x, );
$more-vert-group-name: 'more_vert';
$more-vert-group: ('more_vert', $more-vert, $more-vert-2x, );
$news-copy-group-name: 'news copy';
$news-copy-group: ('news copy', $news-copy, $news-copy-2x, );
$news-group-name: 'news';
$news-group: ('news', $news, $news-2x, );
$phone-volume-group-name: 'phone-volume';
$phone-volume-group: ('phone-volume', $phone-volume, $phone-volume-2x, );
$pin-drop-group-name: 'pin_drop';
$pin-drop-group: ('pin_drop', $pin-drop, $pin-drop-2x, );
$place-group-name: 'place';
$place-group: ('place', $place, $place-2x, );
$point-w-group-name: 'point_w';
$point-w-group: ('point_w', $point-w, $point-w-2x, );
$refresh-group-name: 'refresh';
$refresh-group: ('refresh', $refresh, $refresh-2x, );
$subject-group-name: 'subject';
$subject-group: ('subject', $subject, $subject-2x, );
$twitter-group-name: 'twitter';
$twitter-group: ('twitter', $twitter, $twitter-2x, );
$warning-group-name: 'warning';
$warning-group: ('warning', $warning, $warning-2x, );
$zoom-out-map-group-name: 'zoom_out_map';
$zoom-out-map-group: ('zoom_out_map', $zoom-out-map, $zoom-out-map-2x, );
$retina-groups: ($arrow-back-group, $arrow-downward-group, $arrow-drop-down-group, $arrow-drop-down-circle-group, $arrow-drop-up-group, $arrow-forward-group, $arrow-upward-group, $cancel-group, $check-group, $chevron-left-group, $chevron-right-group, $close-w-group, $close-group, $dashboard-group, $domain-group, $error-group, $error-outline-group, $expand-less-group, $expand-more-group, $facebook-f-group, $facebook-w-group, $facebook-group, $fullscreen-group, $fullscreen-exit-group, $home-group, $instagram-w-group, $instagram-group, $local-post-office-group, $local-shipping-group, $map-marker-alt-group, $menu-w-group, $menu-group, $more-horiz-group, $more-vert-group, $news-copy-group, $news-group, $phone-volume-group, $pin-drop-group, $place-group, $point-w-group, $refresh-group, $subject-group, $twitter-group, $warning-group, $zoom-out-map-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
